<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v1.0):     06/16/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the admin page for the
                               iGarage Trainer web app
-->

<head>
    <title>Admin</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <form action="#" method="post" class="form-horizontal">
        <div>
            <h1 class="h1 pt-3">Add an Exercise</h1>

            <hr class="border-light">

            <div class="container mx-4 form-group">
                <div class="row">
                    <div class="form-group">
                        <label for="exerciseName" class="font-weight-bold">Exercise Name</label>
                        <input type="text" class="form-control" id="exerciseName" name="exerciseName">

                    </div>

                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="font-weight-bold" for="description">Description</label>
                        <textarea class="form-control" id="description" name ="description" rows="6" cols="50">
                        </textarea>

                    </div>
                </div>
            </div>

                <!-- get equipment -->

            <hr class="border-light">

            <label class="">Equipment</label>
            <div class="container mx-4 form-group">

                <!-- row one div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='dumbbells'
                                                               name='equipment[]' value='dumbbells'>Dumbbells</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='kettlebells'
                                                               name='equipment[]' value='kettlebells'>Kettlebells</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='resistance_bands'
                                                               name='equipment[]' value='resistance bands'>Resistance bands</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='chairs'
                                                               name='equipment[]' value='chairs'>Chairs</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='pull-up_bar'
                                                               name='equipment[]' value='pull-up bar'>Pull-up bar</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='no_equipment'
                                                               name='equipment[]' value='no equipment'>No equipment</label>
                    </div>


                </div>      <!-- end row one div -->

            </div>
            <hr class="border-light">

            <!-- get fitness level -->
            <label class="">Difficulty</label>

            <div class="container mx-4 form-group p-0">
                <!-- row div -->
                <div class="row">
                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'>
                            <input class="mr-2" type="radio" class='form-check-input'
                                   name="difficulty" id="beginner" value="1">Beginner
                        </label>
                    </div>
                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'>
                            <input class="mr-2" type="radio" class='form-check-input'
                                   name="difficulty" id="intermediate" value="2">Intermediate
                        </label>
                    </div>
                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'>
                            <input class="mr-2" type="radio" class='form-check-input'
                                   name="difficulty" id="advanced" value="3">Advanced
                        </label>
                    </div>

                </div>      <!-- end row div -->
            </div>

            <hr class="border-light">

            <label class="">Muscle Group</label>

            <div class="container mx-4 form-group">

                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='radio' class='form-check-input' id='biceps'
                                                               name='muscleGroup' value='biceps'>Biceps</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='radio' class='form-check-input' id='triceps'
                                                               name='muscleGroup' value='triceps'>Triceps</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='radio' class='form-check-input' id='chest'
                                                               name='muscleGroup' value='chest'>Chest</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='radio' class='form-check-input' id='back'
                                                               name='muscleGroup' value='back'>Back</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='radio' class='form-check-input' id='abs'
                                                               name='muscleGroup' value='abs'>Abs</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='radio' class='form-check-input' id='legs'
                                                               name='muscleGroup' value='legs'>Legs</label>
                    </div>


                </div>      <!-- end row one div -->



            </div>

            <div class="row">
                <div class="ml-auto mr-0">
                    <input class="btn btn-warning"
                           type="submit" value="Add Exercise >">
                </div>
            </div>

        </div>
    </form>

</div>  <!-- end container div -->


</body>
</html>