<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v1.0):     06/01/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the homepage for the iGarage Trainer web app
-->

<head>
    <title>iGarage Trainer</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <!-- intro div -->
    <div>
        <div class="row">

            <!-- left column -->
            <div class="col-md-6">
                <div class="text-center">
                    <h1 class="h1 font-weight-bold pt-3" id="introTitle">iGarage Trainer</h1>
                    <h2 class="h3">-&nbsp;&nbsp;-</h2>
                </div>
                <p>iGarage Trainer is an app that helps...(more content here)</p>

                <!-- testimonial section div -->
                <div>
                    <hr>
                    <div class="text-center">
                        <form action="#" method="post">
                            <button type="submit" class="btn btn-warning mb-3 text-center" id="newAccountButton">Create an Account!</button>
                        </form>

                        <form action="#" method="post">
                            <label>Already a member?</label>
                            <button type="submit" class="btn btn-warning mb-2 text-center" id="signInButton">Sign in here!</button>
                        </form>
                    </div>
                </div>  <!-- close center testimonial div -->

            </div>  <!-- close left col div -->

            <!-- right column -->
            <div class="col-md-6">

                <img src="images/runningShoes.jpg" class="rounded img-fluid" alt="Runner tying shoes">

            </div>  <!-- close right col div -->

        </div>  <!-- end row div -->
    </div>  <!-- end intro div -->
</div>  <!-- end container div -->


</body>
</html>