<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v1.0):     06/01/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the user sign-in page for the
                               iGarage Trainer web app
-->

<head>
    <title>Sign In</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">
    <form id="userSignin" action="#" method="post">
        <!-- inner div -->
        <div>
            <div class="row">

                <!-- left column -->
                <div class="col-md-6">
                    <div class="text-center">
                        <h2 class="h2 pt-3">Sign In</h2>
                    </div>

                    <div class="col-lg-8">

                        <div class="form-group">
                            <label for="username" class="font-weight-bold">Username</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ @username }}">
                            <span class="err">
                              <check if="{{ isset(@errors['username']) }}">
                                    {{ @errors['username'] }}
                              </check>
                        </span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="font-weight-bold">Password</label>
                            <input type="password" class="form-control" id="password" name="password" value="{{ @password }}">
                            <span class="err">
                              <check if="{{ isset(@errors['password']) }}">
                                    {{ @errors['password'] }}
                              </check>
                        </span>
                        </div>

                    </div>

                </div>  <!-- close left col div -->

                <!-- right column -->
                <div class="col-md-6 d-none d-md-block">

                    <img src="images/runningShoes.jpg" class="rounded img-fluid" alt="Runner tying shoes">

                </div>  <!-- close right col div -->

            </div>  <!-- end row div -->

            <div class="row mt-3">
                <div class="ml-auto mr-0">
                    <input class="btn btn-warning"
                           type="submit" value="Next >">
                </div>
            </div>

        </div>  <!-- end inner div -->
    </form>
</div>  <!-- end container div -->


</body>
</html>