<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v2.0):     06/16/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the first page of the new account signup form for the
                               iGarage Trainer web app
-->

<head>
    <title>Sign-Up 1</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">
    <form id="userInfo" action="#" method="post">
    <!-- inner div -->
    <div>
        <div class="row">

            <!-- left column -->
            <div class="col-md-6">
                <div class="text-center py-3">
                    <h2 class="h2 pt-3">Sign Up for your iGarage Trainer account</h2>
                </div>

                <hr class="border-light">

                <div class="col-lg-8 offset-lg-2">
                    <div class="form-group">
                        <label for="fName" class="font-weight-bold">First Name</label>
                        <input type="text" class="form-control" id="fName" name="fName" value="{{ @firstGiven }}">
                        <span class="err">
                              <check if="{{ isset(@errors['fName']) }}">
                                    {{ @errors['fName'] }}
                              </check>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="lName" class="font-weight-bold">Last Name</label>
                        <input type="text" class="form-control" id="lName" name="lName" value="{{ @lastGiven }}">
                        <span class="err">
                              <check if="{{ isset(@errors['lName']) }}">
                                    {{ @errors['lName'] }}
                              </check>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="age" class="font-weight-bold">Age</label>
                        <input type="text" class="form-control" id="age" name="age" value="{{ @ageGiven }}">
                        <span class="err">
                              <check if="{{ isset(@errors['age']) }}">
                                    {{ @errors['age'] }}
                              </check>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="username" class="font-weight-bold">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ @usernameGiven }}">
                        <span class="err">
                              <check if="{{ isset(@errors['username']) }}">
                                    {{ @errors['username'] }}
                              </check>
                                <check if="{{ isset(@errors['dupUserName']) }}">
                                    {{ @errors['dupUserName'] }}
                              </check>
                        </span>

                    </div>

                    <div class="form-group">
                        <label for="password" class="font-weight-bold">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                        <span class="err">
                              <check if="{{ isset(@errors['password']) }}">
                                    {{ @errors['password'] }}
                              </check>
                        </span>

                    </div>

                    <div class="form-group">
                        <label for="confirmPass" class="font-weight-bold">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPass" name="confirmPass">
                        <span class="err">
                              <check if="{{ isset(@errors['confirmPass']) }}">
                                    {{ @errors['confirmPass'] }}
                              </check>
                        </span>

                    </div>

                    <!-- get premium user selection -->
                    <div class="form-group mb-0">
                        <label class="font-weight-bold mb-1" for="premium">Premium User</label>
                    </div>
                    <div class="form-group mb-0">
                        <div class="form-check">
                            <label class='form-check-label'>
                                <input type='checkbox' class='form-check-input'
                                       id='premium' name='premium[]'
                                       value='premium'
                                <check if="{{ isset(@premiumGiven) }}">
                                    checked="checked"

                                </check>

                                >Sign me up to be a Premium User!
                            </label>
                        </div>

                    </div>

                </div>

            </div>  <!-- close left col div -->

            <!-- right column -->
            <div class="col-md-6 d-none d-md-block">

                <img src="images/runningShoes.jpg" class="rounded img-fluid" alt="Runner tying shoes">

            </div>  <!-- close right col div -->

        </div>  <!-- end row div -->

        <div class="row mt-3">
            <div class="ml-auto mr-0">
                <input class="btn btn-warning"
                       type="submit" value="Next >">
            </div>
        </div>

    </div>  <!-- end inner div -->
    </form>
</div>  <!-- end container div -->


</body>
</html>