<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v1.0):     06/01/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the second page of the new account signup form for the
                               iGarage Trainer web app
-->

<head>
    <title>Sign-Up 2</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <form action="#" method="post" class="form-horizontal">
        <div>
            <h1 class="h1 pt-3">Additional Information</h1>
            <hr class="border-light">


            <!-- get equipment -->
            <label class="h4">What equipment do you have available?</label>

            <div class="container mx-4 form-group">
                <!-- row one div -->
                <div class="row">

                    <repeat group="{{ @equipments }}" value="{{ @equip }}">
                        <div class="col-md-3 mr-0">
                            <label><input type="checkbox"
                                          id="{{ str_replace(' ', '_', @equip) }}"
                                          name="userEquipment[]"
                                          value="{{ @equip }}"

                                     > {{ ucfirst(@equip) }}

                            </label><br>
                        </div>
                    </repeat>
                </div>
                <div class="row">
                    <span>
                        <check if="{{ isset(@errors['equip']) }}">
                            {{ @errors['equip'] }}
                        </check>

                    </span>

                </div>      <!-- end row one div -->

            </div>
            <hr class="border-light">

            <!-- get fitness level -->
            <label class="h4">What is your level of fitness?</label>

            <div class="container mx-4 form-group">
                <!-- row div -->
                <fieldset>
                    <div class="row">

                        <repeat group="{{ @levels }}" value="{{ @level }}">
                            <div class="col-md-3 mr-0">
                                <label><input type="radio"
                                              id="{{ @level }}"
                                              name="fitnessLevel"
                                              value="{{ @level }}"

                                > {{ ucfirst(@level) }}

                                    </input></label><br>
                            </div>
                        </repeat>

                    </div>
                    <div class="row">
                        <span>
                            <check if="{{ isset(@errors['fitnessLevel']) }}">
                                {{ @errors['fitnessLevel'] }}
                            </check>

                        </span>
                    <!--
                    <fieldset>
                        <input class="mr-2" type="radio" name="fitnessLevel" id="beginner" value="beginner"><label class="mr-3 mb-0" for="beginner">Beginner</label>
                        <input class="mr-2" type="radio" name="fitnessLevel" id="intermediate" value="intermediate"><label class="mr-3 mb-0" for="intermediate">Intermediate</label>
                        <input class="mr-2" type="radio" name="fitnessLevel" id="advanced" value="advanced"><label class="mr-3 mb-0" for="advanced">Advanced</label>
                    </fieldset>
                    -->

                </div>
                </fieldset>    <!-- end row div -->

            </div>

            <div class="row">
                <div class="ml-auto mr-0">
                    <input class="btn btn-warning"
                           type="submit" value="Create my account >">
                </div>
            </div>

        </div>
    </form>

</div>  <!-- end container div -->


</body>
</html>