<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v1.0):     06/01/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the user dashboard for the iGarage Trainer web app
-->

<head>
    <title>Dashboard</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <!-- div -->
    <div>
        <div class="row">

            <!-- left column -->
            <div class="col-md-6">
                <div class="text-center">
                    <h1 class="h1 font-weight-bold py-3" id="introTitle">iGarage Trainer User Dashboard</h1>

                </div>

                <!-- choice button section div -->
                <div>
                    <hr class="border-light">
                    <h3 class="h3 text-center pb-3">Welcome back!</h3>
                    <div class="text-center">
                        <div class="py-3">
                            <a href="/328/iGarageTrainer/workout_options">
                                <button type="submit" class="btn btn-warning text-center" id="workoutButton">Start a workout!</button>
                            </a>
                        </div>

                        <div class="py-3">
                            <a href="#">
                                <button type="submit" class="btn btn-warning text-center" id="userLogButton">View my workout log</button>
                            </a>
                        </div>
                    </div>
                </div>  <!-- close choice button div -->

            </div>  <!-- close left col div -->

            <!-- right column -->
            <div class="col-md-6">

                <img src="images/runningShoes.jpg" class="rounded img-fluid" alt="Runner tying shoes">

            </div>  <!-- close right col div -->

        </div>  <!-- end row div -->
    </div>  <!-- end intro div -->
</div>  <!-- end container div -->


</body>
</html>