<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v2.0):     06/16/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the workout options page where users can make
                               selections for muscle group and intensity level for the
                               iGarage Trainer web app
-->

<head>
    <title>Workout Options</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/328/iGarageTrainer/">iGarage Trainer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/sign-in">Member Sign-In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/dashboard">Member Dashboard</a>
            </li>
            <li class="nav-item">
                <check if="{{ isset($_SESSION['loggedIn']) }}">
                    <a class="nav-link" href="/328/iGarageTrainer/logout">Logout</a>
                </check>

            </li>
            <li class="nav-item">
                <a class="nav-link" href=""></a>
            </li>

        </ul>
    </div>
</nav>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <form action="#" method="post" class="form-horizontal">
        <div>
            <h1 class="h1 pt-3">Workout Options</h1>
            <hr class="border-light">


            <!-- get muscle group -->
            <label class="h4">What body areas would you like to focus on today?</label>
            <p>Please either choose two body areas from the first list or select 'Total Body' below.</p>

            <div class="container mx-4 form-group">

                <!-- row one div -->
                <div class="row">

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='biceps'
                                                               name='muscleGroup[]' value='biceps'>Biceps</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='triceps'
                                                               name='muscleGroup[]' value='triceps'>Triceps</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='chest'
                                                               name='muscleGroup[]' value='chest'>Chest</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='back'
                                                               name='muscleGroup[]' value='back'>Back</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='abs'
                                                               name='muscleGroup[]' value='abs'>Abs</label>
                    </div>

                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='legs'
                                                               name='muscleGroup[]' value='legs'>Legs</label>
                    </div>


                </div>      <!-- end row one div -->

            </div>
            <hr class="border-light">

            <div class="container mx-4 form-group">
                <!-- row 2 div -->
                <div class="row">
                    <div class="col-md-3 mr-0">
                        <label class='form-check-label'><input type='checkbox' class='form-check-input' id='total_body'
                                                               name='muscleGroup[]' value='total body'>Total body</label>
                    </div>

                </div>      <!-- end row 2 div -->

            </div>

            <div class="row">
                <div class="ml-auto mr-0">
                    <input class="btn btn-warning"
                           type="submit" value="Get my workout >">
                </div>
            </div>

        </div>
    </form>

</div>  <!-- end container div -->


</body>
</html>