<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v1.0):     06/01/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the workout options page where users can make
                               selections for muscle group and intensity level for the
                               iGarage Trainer web app
-->

<head>
    <title>Workout Options</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/328/iGarageTrainer/">iGarage Trainer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/sign-in">Member Sign-In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/dashboard">Member Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""></a>
            </li>

        </ul>
    </div>
</nav>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <form action="#" method="post" class="form-horizontal">
        <div>
            <h1 class="h1 pt-3">Workout Options</h1>
            <hr class="border-light">


            <!-- get muscle group -->
            <label class="h4">What body area would you like to focus on today?</label>

            <div class="container mx-4 form-group">
                <!-- row one div -->
                <div class="row">

                    <fieldset>
                        <input class="mr-2" type="radio" name="muscleGroup" id="biceps" value="biceps"><label class="mr-3 mb-0" for="biceps">Biceps</label>
                        <input class="mr-2" type="radio" name="muscleGroup" id="triceps" value="triceps"><label class="mr-3 mb-0" for="triceps">Triceps</label>
                        <input class="mr-2" type="radio" name="muscleGroup" id="chest" value="chest"><label class="mr-3 mb-0" for="chest">Chest</label>
                        <input class="mr-2" type="radio" name="muscleGroup" id="back" value="back"><label class="mr-3 mb-0" for="back">Back</label>
                    </fieldset>


                </div>      <!-- end row one div -->
                <!-- row two div -->
                <div class="row">

                    <fieldset>
                        <input class="mr-2" type="radio" name="muscleGroup" id="abs" value="abs"><label class="mr-3 mb-0" for="abs">Abs</label>
                        <input class="mr-2" type="radio" name="muscleGroup" id="legs" value="legs"><label class="mr-3 mb-0" for="legs">Legs</label>
                        <input class="mr-2" type="radio" name="muscleGroup" id="total_body" value="total body"><label class="mr-3 mb-0" for="total_body">Total body</label>
                    </fieldset>


                </div>      <!-- end row two div -->

            </div>
            <hr class="border-light">

            <!-- get fitness level -->
            <label class="h4">What is your desired level of intensity?</label>

            <div class="container mx-4 form-group">
                <!-- row div -->
                <div class="row">
                    <fieldset>
                        <input class="mr-2" type="radio" name="intensity" id="easy" value="easy"><label class="mr-3 mb-0" for="easy">Easy</label>
                        <input class="mr-2" type="radio" name="intensity" id="medium" value="medium"><label class="mr-3 mb-0" for="medium">Medium</label>
                        <input class="mr-2" type="radio" name="intensity" id="hard" value="hard"><label class="mr-3 mb-0" for="hard">Hard</label>
                    </fieldset>

                </div>      <!-- end row div -->

            </div>

            <div class="row">
                <div class="ml-auto mr-0">
                    <input class="btn btn-warning"
                           type="submit" value="Get my workout >">
                </div>
            </div>

        </div>
    </form>

</div>  <!-- end container div -->


</body>
</html>