<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v1.0):     06/01/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the workout display page where users can view
                               the workout generated based on their preferences for the
                               iGarage Trainer web app
-->

<head>
    <title>My Workout</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/328/iGarageTrainer/">iGarage Trainer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/sign-in">Member Sign-In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/dashboard">Member Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/328/iGarageTrainer/myWorkout">My Workout</a>
            </li>
            <li class="nav-item">
                <check if="{{ isset($_SESSION['loggedIn']) }}">
                    <a class="nav-link" href="/328/iGarageTrainer/logout">Logout</a>
                </check>
            </li>

        </ul>
    </div>
</nav>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <div>
        <h1 class="h1 pt-3">Enjoy Your Workout!</h1>
        <hr class="border-light">

        <!-- table div -->
        <div class="bg-light">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Exercise</th>
                    <th scope="col">Equipment</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bicep curls</td>
                    <td>Dumbbells</td>
                    <td>Stand holding a dumbbell in each hand with your arms hanging by your sides.
                        Ensure your elbows are close to your torso and your palms facing forward.
                        Keeping your upper arms stationary, exhale as you curl the weights up to
                        shoulder level while contracting your biceps.</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Triceps Dips</td>
                    <td>Chair</td>
                    <td>Slide off the front of the bench with your legs extended out in
                        front of you.
                        Straighten your arms, keeping a little bend in your elbows to keep tension
                        on your triceps and off your elbow joints.
                        Slowly bend your elbows to lower your body toward the floor
                        until your elbows are at about a 90-degree angle.</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Chests Push ups</td>
                    <td>None</td>
                    <td>Place your hands shoulder-width apart.
                        Bend your arms lowering your chest to the floor but keeping your body straight.
                        Once your chest is near to the floor.
                        Push yourself back to the start position.</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Superman</td>
                    <td>None</td>
                    <td>Lie flat on your stomach, extend your arms forward, palms on the ground.
                        Raise your upper body and then your legs to form an arch.
                        Make sure that your knees and your chest do not touch the floor.
                        Keep your head and neck neutral.
                        Do not overextend your neck and keep your chin tucked.
                        You can bend your arms slightly at the elbows as you extend them up and forward.
                        You can increase or decrease your body tension by slightly raising or lowering
                        your upper body and/or legs simultaneously.</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Plank</td>
                    <td>None</td>
                    <td>Place your palms flat on the floor, hands shoulder-width apart.
                        Shoulders stacked directly above your wrists.
                        Extend your legs behind you, feet hip-width apart.
                        Tuck your tailbone and engage your core, glutes, and quads.
                        Hold here for a set amount of time.</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Squat</td>
                    <td>Dumbbells Or Two Bottles of Water</td>
                    <td>Stand with feet at hip-width distance, holding dumbbells at your shoulders
                        with palms facing in.
                        Send the glutes back and lower down into a squat until your quads are about
                        parallel with the ground.
                        Press through the heels to return to stand.</td>
                </tr>
                </tbody>
            </table>

        </div>  <!-- end table div -->


    </div>

</div>  <!-- end container div -->


</body>
</html>