<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v1.0):     06/01/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the workout display page where users can view
                               the workout generated based on their preferences for the
                               iGarage Trainer web app
-->

<head>
    <title>My Workout</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<include href="includes/navbar.htm"></include>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <div>
        <h1 class="h1 pt-3">Enjoy Your Workout!</h1>
        <hr class="border-light">

        <!-- table div -->
        <div class="bg-light">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Exercise</th>
                    <th scope="col">Equipment</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bicep curls</td>
                    <td>Dumbbells</td>
                    <td>Stand holding a dumbbell in each hand with your arms hanging by your sides.
                        Ensure your elbows are close to your torso and your palms facing forward.
                        Keeping your upper arms stationary, exhale as you curl the weights up to
                        shoulder level while contracting your biceps.</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Bicep curls</td>
                    <td>Dumbbells</td>
                    <td>Stand holding a dumbbell in each hand with your arms hanging by your sides.
                        Ensure your elbows are close to your torso and your palms facing forward.
                        Keeping your upper arms stationary, exhale as you curl the weights up to
                        shoulder level while contracting your biceps.</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Bicep curls</td>
                    <td>Dumbbells</td>
                    <td>Stand holding a dumbbell in each hand with your arms hanging by your sides.
                        Ensure your elbows are close to your torso and your palms facing forward.
                        Keeping your upper arms stationary, exhale as you curl the weights up to
                        shoulder level while contracting your biceps.</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Bicep curls</td>
                    <td>Dumbbells</td>
                    <td>Stand holding a dumbbell in each hand with your arms hanging by your sides.
                        Ensure your elbows are close to your torso and your palms facing forward.
                        Keeping your upper arms stationary, exhale as you curl the weights up to
                        shoulder level while contracting your biceps.</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Bicep curls</td>
                    <td>Dumbbells</td>
                    <td>Stand holding a dumbbell in each hand with your arms hanging by your sides.
                        Ensure your elbows are close to your torso and your palms facing forward.
                        Keeping your upper arms stationary, exhale as you curl the weights up to
                        shoulder level while contracting your biceps.</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Bicep curls</td>
                    <td>Dumbbells</td>
                    <td>Stand holding a dumbbell in each hand with your arms hanging by your sides.
                        Ensure your elbows are close to your torso and your palms facing forward.
                        Keeping your upper arms stationary, exhale as you curl the weights up to
                        shoulder level while contracting your biceps.</td>
                </tr>
                </tbody>
            </table>
        </div>  <!-- end table div -->


    </div>

</div>  <!-- end container div -->


</body>
</html>