<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v1.0):     06/01/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the workout log display page where users can view
                               their workouts for the last 30 days in the
                               iGarage Trainer web app
-->

<head>
    <title>Workout Log</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/328/iGarageTrainer/">iGarage Trainer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/sign-in">Member Sign-In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/dashboard">Member Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/328/iGarageTrainer/myWorkoutLog">Workout Log</a>
            </li>
            <li class="nav-item">
                <check if="{{ isset($_SESSION['loggedIn']) }}">
                    <a class="nav-link" href="/328/iGarageTrainer/logout">Logout</a>
                </check>
            </li>

        </ul>
    </div>
</nav>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <div>
        <h1 class="h1 pt-3">{{ @user->getFName() }}'s workouts for the last 14 days are available below:</h1>
        <hr class="border-light">

        <div id="accordion">

            <repeat group="{{ @workouts }}" value="{{ @workout }}">

            <div class="card border-secondary">
                <div class="card-header bg-warning border-secondary" id="date{{ @counter }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapse{{ @counter }}" aria-expanded="false" aria-controls="collapse{{ @counter }}">
                            {{ @workout->getDate() }}
                        </button>
                    </h5>
                </div>

                <div id="collapse{{ @counter }}" class="collapse" aria-labelledby="date{{ @counter++ }}" data-parent="#accordion">
                    <div class="card-body">
                        <!-- table div -->
                        <div class="bg-light">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Exercise</th>
                                    <th scope="col">Equipment</th>
                                    <th scope="col">Description</th>
                                </tr>
                                </thead>
                                <tbody>

                                <loop from="{{ @i = 0 }}" to="{{ @i < 6 }}" step="{{ @i++ }}">
                                    <tr>
                                        <th scope="row">{{ (@i + 1) }}</th>
                                        <td>{{ @workout->getExercises()[@i]->getExerciseName() }}</td>
                                        <td>
                                            <repeat group="{{ @workout->getExercises()[@i]->getEquipment() }}"
                                                    value="{{ @equipment }}">
                                            {{ ucfirst(@equipment) }}
                                        </td>
                                        <td>{{ @workout->getExercises()[@i]->getDescription() }}</td>
                                    </tr>
                                </loop>

                                </tbody>
                            </table>

                        </div>  <!-- end table div -->

                    </div> <!-- end card body div -->
                </div> <!-- end collapse div -->

            </div> <!-- end card div -->

            </repeat>

        </div> <!-- end accordion div -->

        <div class="row">

            <img src="images/weightsAndBarbell.jpg" class="rounded img-fluid p-0 my-3 col-8 offset-2" alt="Weights and a barbell">

        </div>  <!-- close image div -->

    </div>

</div>  <!-- end container div -->


</body>
</html>