<!DOCTYPE html>
<html lang="en">
<!--
    Created by:                Corey Rogers and Chunhai Yang
    Date submitted (v2.0):     06/16/2020
    Assignment:                Final Project for IT 328
    File Description:          This is the workout display page where users can view
                               the workout generated based on their preferences for the
                               iGarage Trainer web app
-->

<head>
    <title>My Workout</title>

    <include href="includes/header.htm"></include>
</head>

<body class="pt-5 bg-danger">

<!--  Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/328/iGarageTrainer/">iGarage Trainer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/sign-in">Member Sign-In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/dashboard">Member Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/328/iGarageTrainer/dashboard">< BACK</a>
            </li>
            <li class="nav-item">
                <check if="{{ isset($_SESSION['loggedIn']) }}">
                    <a class="nav-link" href="/328/iGarageTrainer/logout">Logout</a>
                </check>
            </li>

        </ul>
    </div>
</nav>

<!-- Main Div Container -->

<div id="main" class="container pt-3 pb-3 pl-5 pr-5 mt-5 mb-5 border rounded bg-secondary text-light">

    <div>
        <h1 class="h1 pt-3">Enjoy Your Workout, {{ @$user->getFName() }}!</h1>
        <hr class="border-light">

        <!-- table div -->
        <div class="bg-light">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Exercise</th>
                    <th scope="col">Equipment</th>
                    <th scope="col">Description</th>
                    <th scope="col">Difficulty</th>
                </tr>
                </thead>
                <tbody>

                    {{ @i = 1 }}
                    <repeat group="{{ @workout->getExercises() }}" value="{{ @exercise }}">
                        <tr>
                            <th scope="row">
                                {{ @i++ }}
                            </th>
                            <td>{{ @exercise->getExerciseName() }}</td>
                            <td>
                                <repeat group="{{ @exercise->getEquipment() }}" value="{{ @equipment }}">
                                    {{ ucfirst(@equipment)}}
                                </repeat>
                            </td>
                            <td>{{ @exercise->getDescription() }}</td>
                            <td>{{ @exercise->getDifficulty() }}</td>
                        </tr>
                    </repeat>

                </tbody>
            </table>

        </div>  <!-- end table div -->

        <div class="row">
            <div class="ml-auto mr-0">
                <a href="/328/iGarageTrainer/dashboard">
                    <button type="submit" class="btn btn-warning text-center" id="returnButton">Return to Dashboard</button>
                </a>
            </div>
        </div>

    </div>

</div>  <!-- end container div -->


</body>
</html>